.card {
  margin: 110px 20px 5vh 20px;
  height: 100%;
  padding: 20px;

  border-radius: 10px;
  background: #0d0d0d;
  box-shadow: 5px 5px 25px #0a0a0a, -5px -5px 25px #101010;

  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .card {
    max-width:  768px;
    margin: 110px auto 5vh auto;
  }
}