
:root {
  --background-light: rgb(236, 229, 220);
  --background-dark: rgb(20, 20, 20);
  
  --gradient-color-1: rgb(178, 94, 82);
  --gradient-color-2: rgb(56, 33, 46);
  --gradient-color-3: rgb(42, 37, 51);
  --gradient-color-4: rgb(17, 30, 41);
}

/* --- Reset --- */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  background-color: var(--background-light);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  resize: none;
}

p, h1, h2, h3, h4, h5, h6, ul{
  overflow-wrap: break-word;
  color: var(--background-light);
}

a {
  color: inherit; /* Set the color to inherit to remove the default link color */
}

ul {
  padding-left: 1em;
}
